body, html {
  width: 100%;
  height: 100%;
  font-family: 'athiti';
}

.block {
  position: relative;
  width: 100%;
  height: 550px;
  background-color: ghostwhite;
}

// ----------------------------------------------- //
//                                                 //
//                   doLogin page                    //
//                                                 //
// ----------------------------------------------- //
.login-page {
  background: -moz-radial-gradient(center, ellipse cover, rgb(56,56,56) 0%, rgb(14,14,14) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgb(56,56,56) 0%,rgb(14,14,14) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgb(56,56,56) 0%,rgb(14,14,14) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  .login-container {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
    background-color: whitesmoke;
    text-align: right;
    h1 {
      margin-bottom: 30px;
    }
    div.alert {
      margin-top: -15px;
      text-align: center;
    }
    form button {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

// ----------------------------------------------- //
//                                                 //
//                 new student page                //
//                                                 //
// ----------------------------------------------- //
.new-student-page {
  .birthdate-group {
    font-size: 1.8em;
    span.control-label {
      text-align: right;
    }
    div.seperator {
      text-align: center;
    }
  }
}
